body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0,4);
}
@font-face {
    font-family: custom1;
    src: url(fonts/Roboto-Regular.ttf);
  }
@font-face {
    font-family: custom2;
    src: url(fonts/Sedan-Regular.ttf);
  }
@font-face {
    font-family: custom3;
    src: url(fonts/Azonix.otf);
}
.head1{
    position: absolute;
    top: 1rem;
    left: 6rem;
    font-family: custom1;
    color: #FFF5E0;
    letter-spacing: 0.188rem;
  }
  .head1::before,
  .head1::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #FFF7F1;
  }
  
  .head1::before {
      top: -4px;
      left: -4px;
      border-top: 2px solid #FFF7F1;
      border-left: 2px solid #FFF7F1;
  }
  
  .head1::after {
      bottom: -4px;
      right: -4px;
      border-bottom: 2px solid #FFF7F1;
      border-right: 2px solid #FFF7F1;
  }
  
  .head1 span::before,
  .head1 span::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #FFF7F1;
  }
  
  .head1 span::before {
      top: -4px;
      right: -4px;
      border-top: 2px solid #FFF7F1;
      border-right: 2px solid #FFF7F1;
  }
  
  .head1 span::after {
      bottom: -4px;
      left: -4px;
      border-bottom: 2px solid #FFF7F1;
      border-left: 2px solid #FFF7F1;
  }
  .navbar {
    position: absolute;
    right: 12rem;
    top: 1.8rem;
    font-family: custom1;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    padding: 14px 20px;
  }
  
  .nav-item a {
    color: #FFF7F1;
    text-decoration: none;
    display: block;
    text-align: center;
    position: relative;
  }
  
  .nav-item a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #000000;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
  }
  
  .nav-item a:hover::after {
    width: 100%;
    left: 0;
    background: #2e8dc4;
  }
  .meimg{
    height: 62.5rem;
    width: 60rem;
    position: absolute;
    bottom: 0%;
   filter: opacity(85%);
  }
  .container2{
    width: 100%;
    height: 100vh;
    
  }
  .content{
    text-align: center;
    font-family: custom3;
    color: #F8F4EC;
    font-size: 35px;
    position: absolute;
    margin-left: 34rem;
    margin-top: 7rem;
    
  }
  .background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  @media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
  }
  @media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
    
  }
  .video-box{
    background-color: black;
    height: 540px;
    width: 1080px;
    position: absolute;
    margin-top: 19rem;
    margin-left: 27rem;
  }

  .video-clip{
    height: 540px;
    width: 1080px;
  }
